/* Simple, clean styling for readability */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1440px;
    margin: 1rem;
    padding: 0 1rem;
}
h1, h2, h3 {
    color: #2c3e50;
}
code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
}
.logo {
    width: 100px;
}
.title {
}
nav a {
    font-size: 1.6rem
}
nav a.active {
    font-weight: bold;
}
main {
}
footer {
}


/* Basic container and hamburger styling */
.hamburger {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Or relative, depending on layout */
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: 0.4s;
  border-radius: 2px;
}

/* Menu styling */
#menu {
  width: 200px;
  height: 100%;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  transform: translateX(100%); /* Hide off-screen */
  transition: transform 0.3s ease-in-out;
}

#menu.menu-hidden {
  transform: translateX(100%);
}

#menu.menu-visible {
  transform: translateX(0); /* Slide into view */
}

#menu ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

#menu ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
}

/* Style for the "change" state when menu is open */
.hamburger.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.change .bar2 {
  opacity: 0;
}

.hamburger.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Contact Form */
.contact-section {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 100%;
  margin-top: 1.2rem;
  background-color: #3124ca;
  color: #fff;
  padding: 13px 5px;
  border-radius: 0.375rem;
}

/* Container Shuffle */
.items-container {
    position: relative;
    /* display: flex; */
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .items-container {
    grid-template-columns: 1fr;
  }
}

.item {
    padding: 0px;
    background-color: #f0f0f0;
    border: 0px solid #ccc;
    text-align: center;
    transition: display 0.3s ease;
    box-sizing: border-box;
    position: relative;
}

.item a {
    font-size: 1.6rem
}

.item.hidden {
    display: none;
}

.item_img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    /* transition: filter 0.5s ease; */
    object-fit: cover; /* or use 'contain' */
    backface-visibility: hidden;
}

.item_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.item_text h3, .item_text p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Hover effect on the container */
.item:hover .item_overlay {
  opacity: 1;
}

.item:hover .item_img {
  opacity: 0.3;
}

.filter-buttons {
    display: flex; /* Aligns buttons horizontally */
    flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
    justify-content: center; /* Centers the buttons within the container */
    margin-bottom: 20px; /* Spacing below the button group */
    gap: 10px; /* Space between the buttons */
    padding: 10px;
    border-radius: 8px;
}

.filter-btn {
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: 0px solid #ccc;
    background-color: #fff;
    color: #2c3e50;
}

.filter-btn.active {
    background-color: #555;
    color: #fff;
}
